@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Ubuntu', serif;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
}

.logo {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 0 0 0;
  justify-self: flex-start;
  background: url(./images/logo512.png) 50% no-repeat;
  background-size: cover;
  position: relative;
}

.logo:hover {
  margin-right: 15px;
}

.logo:hover .logo-text {
  display: block;
}

.logo-text {
  position: absolute;
  display: none;
  left: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app span {
  position: absolute;
  top: 50%;
  width: 40%;
  height: 40%;
  transform: rotate(calc(90deg * var(--i)));
  border-radius: 50%;
  transform-origin: 50% 0;
  filter: blur(80px);
  opacity: 0.4;
  z-index: -1;
}

.app span:nth-child(1) {
  background-color: #01b2fe;
}

.app span:nth-child(2) {
  background-color: #ff008c;
}

.app span:nth-child(3) {
  background-color: #ffcd00;
}

.app span:nth-child(4) {
  background-color: #00c456;
}

.app .glass {
  background: rgba(0,0,0,0.1);
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.3);
}

.app .glass:nth-of-type(1) {
  padding: 50px;
}

.app .glass:nth-of-type(2) {
  margin-top: 20px;
  padding: 30px;
}

.heading {
  font-size: 50px;
  text-align: center;
  word-wrap: break-word;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.input {
  font-size: 20px;
  margin: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #000;
  font-family: 'Ubuntu', serif;
}

.str {
  margin: 15px 0;
}

.submit-button {
  width: 300px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #fff;
  transition: all 0.3s;
  border-radius: 25px;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  font-family: 'Ubuntu', serif;
}

.submit-button:before {
  content: '';
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: -1;
  transition: all 0.3s;
}

.submit-button:hover::before {
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1000%);
}

.submit-button:disabled {
  border: 1px solid #a9a9a9;
}

.submit-button:disabled:hover::before {
  background-color: #aaa;
  color: #fff;
}

.result {
  width: 450px;
  display: block;
  margin: 0 0 15px 0;
  font-size: 30px;
  word-wrap: break-word;
  line-height: 30px;
  text-align: center;
}

.result-length {
  width: 100%;
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.result-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.copy-button {
  width: 50px;
  height: 25px;
  background-color: transparent;
  transition: all 0.3s;
  outline: 0;
  border: 0;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  font-family: 'Ubuntu', serif;
}

.copy-button:before {
  content: '';
  width: 1px;
  height: 1px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: -1;
  transition: all 0.3s;
}

.copy-button:hover::before {
  width: 200%;
  height: 200%;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.copy-button:disabled {
  border: 1px solid #a9a9a9;
}

.copy-button:disabled:hover::before {
  background-color: #aaa;
  color: #fff;
}

@media (max-width: 500px) {
  .heading {
    font-size: 30px;
  }
  .submit-button {
    width: 200px;
  }
  .result {
    width: 80vw;
    font-size: 20px;
  }
  .result-length {
    font-size: 20px;
  }
}